* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
body{
  background-color:rgba(0,0,0,0);
  background-repeat:repeat;
  background-position:left top;
  background-attachment:scroll;
  background-size:auto;
}
.logo path{
  pointer-events:none;
  fill:none;
  stroke-linecap:round;
  stroke-width:7;
  stroke:rgb(255, 255, 255);
}
.c826{
  padding-top:50px;
  padding-bottom:50px;
  text-align:center;
  font-size:50px;
  font-family:Trebuchet MS, Helvetica, sans-serif;
  font-weight:800;
  color:#9d943a;
  text-shadow:2px 0 2px black;
  border-radius:4px;
  background-repeat:repeat;
  background-position:left top;
  background-attachment:scroll;
  background-size:auto;
  float:none;
  display:block;
  width:auto;
  height:0;
  min-height:12px;
  margin:12px 0 0 0;
  line-height:6px;
}

.c758{
  padding-top:5px;
  padding-bottom:5px;
  text-align:center;
  font-size:25px;
  color: #e87506;
  line-height:24px;
  font-weight:700;
}

.aTable {
    width: 800px;
    border-spacing: 2px;
    border: 1px solid black;
    border-collapse: collapse;


}
.aTable th {
    background-color: #DDD;
    text-align: center;
    text-transform: uppercase;
}

.aTable td {
    background-color: #bfb236;
}

.aTable th, td {
    border-bottom: 1px solid #555208;
}


#wrapper {
    text-align: center;
}

#yourdiv {
    display: inline-block;
}

#nextracers {
    width: 48%;
    float: none;
    align-items: center;
}


#larger {
    font-size: 25px;
}

#smaller {
    font-size: 20px;
}


#container {
    display: flex;
    justify-content: space-between;
}


#block {
    display: inline-block;
    text-align: center;
}


.c825{
  padding-top:5px;
  padding-bottom:10px;
  text-align:center;
  font-size:23px;
  line-height:1px;
  color:rgba(62,66,10,0.84);
  font-family:Georgia, serif;
  font-weight:600;
}



table {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}




