{% extends "base.html" %}

{% block body %}
    <div id="wrapper">
        <div id="yourdiv">
            <div class="c805">{{ name }}</div>
            <hr>
            <h2>Tournament Participants</h2>
            <form method="POST" action="{{ url_for('create_tournament', tour_type=tour_type, name=name) }}">
                {{ form.csrf_token }}
                {{ form.players(rows='10', cols='30', id='larger') }}
                <br><br>
                <h2>Tournament Options</h2>
                {{ form.players_per_round.name }}
                <br><br>
                {{ form.players_per_round }}
                <br><br>
                {{ form.rank_stat.name }}
                <br><br>
                {{ form.rank_stat(id="smaller") }}
                <br><br>
                {{  form.number_of_plays.name }}
                <br><br>
                {{  form.number_of_plays }}
                <br><br>
                {{ form.create_tournament(id="smaller") }}
                <br><br>
            </form>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class=flashes>
                        {% for message in messages %}
                            <span style="color: #3323ff;">[{{ message }}]
                    </span>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
    </div>

{% endblock %}