{% extends "base.html" %}
{% block body %}
{% from "_formhelpers.html" import render_field %}

<div id="wrapper">
    <div id="container">
        {% for heat in matches %}
            <div class="box1">
            {% if heat == matches[0] %}
                <form method="POST" action="{{ url_for('run_tournament', tour_name=tour_name, players=players) }}">
                    {{ form.csrf_token }}
                    {% for player in heat %}
                        {{ render_field(form[player]) }}
                    {% endfor %}
                    {{ form.submit }}
                </form>
            {%  else %}
                {% for player in heat %}
                    {{ player }}
                {% endfor %}
            {% endif %}
            </div>
        {% endfor %}
    </div>
</div>


{% endblock %}
