{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}
{% from "_formhelpers.html" import render_field_vertical %}

{% block body %}

<div id="wrapper">
    <form method="POST" action="{{ url_for('run_tournament', name=name, players=players) }}">
        <div class="c805">{{ name }}</div>
        <hr>
        <div style="height:100%; width:100%; overflow: hidden; display: flex">

            {{ form.csrf_token }}
            {% for player in matches[0] %}
                <div style="float: left; width:25%; display: inline-flex";>
                {{ form['player' + loop.index0|string()].label() }}
                {{ form['player' + loop.index0|string()]() }}
                </div>

            {% endfor %}
            <br><br>
        </div>
            {{ form.submit }}
            <br><br>
    </form>
    {# Flash messages #}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <span style="color: #ff1826;">[{{ message }}]
                </span>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    {# State who is up next #}
    <div class="c758">Up Next: {{ matches[1]|join(', ') }}</div>
    <br><br>
    {{ car_table | safe }}
</div>

{% endblock %}

